#btnLogin {
    -fx-background-color: #1b5e20;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

#btnExit {
    -fx-background-color: #b71c1c;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-radius: 10;
}

#mainView {
    -fx-background-color: linear-gradient(to right, #29b6f6, #0277bd);
}

.principalButtons {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-text-fill: #0277bd;
}